{
  "projects": {
    "default": "YOUR_PROJECT_ID"
  },
  "targets": {
    "YOUR_PROJECT_ID": {
      "hosting": {
        "YOUR_PROPERTY_KEY": [
          "YOUR_SITE_ID"
        ]
      }
    }
  }
}
